body {
    background: #78A1BB;
    font-family: Arial, Helvetica, sans-serif;
}

#clear {
    position: absolute;
    opacity: 0.4;
    width: 24px;
    margin-top: 1.5%;
}

#clearIcon {
    width: 100%;
}

#container {
    width: 80%;
    margin-left: 10%;
    margin-top: 20%;
}

#videoURLInput {
    width: 100%;
    background: #283044;
    color: #78A1BB;
    border: none;
    padding: 6px;
    border-radius: 4px;
    font-size: 18px;
    font-weight: 600;
}

.qualitySelection {
    
}

#quality {
    margin-top: 20%;
}